.code-block-header {
  color: #ccc;
}
.code-block-header .code-lang,
.code-block-header .code-info {
  background-color: #fff;
  box-shadow: inset 2px 3px 1px 0px #fbfbfb;
  border: 1px solid #eee;
  padding: 10px 18px;
  border-radius: 8px 8px 0 0;
  border-bottom: none;
  color: #808080;
  letter-spacing: 0px;
}
.code-block-header a {
  border-bottom: 0px !important;
  margin-left: 0px !important;
}
.code-block-header i {
  padding: 9px 10px;
  margin: 0 3px;
}
.highlight {
  box-shadow: inset 1px 0px 1px 1px #fbfbfb, 0 0 15px rgba(0,0,0,0.1);
  border: 1px solid #eee;
  background: #fff;
  border-radius: 0 8px 8px 8px;
}
.highlight table {
  border: none;
}
.highlight table td {
  border: none !important;
}
.highlight table td:last-child {
  width: 100%;
}
.highlight td.gutter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  left: 0;
  width: 30px;
}
.highlight td.gutter pre {
  text-align: right;
  color: #888f96 !important;
}
.highlight pre {
  font-family: "consolas" !important;
  text-align: left;
  color: #000;
}
.highlight pre .line {
  display: inline-block;
  width: 100%;
}
.highlight pre .line:hover {
  background-color: rgba(200,200,200,0.1);
}
.highlight pre .marked {
  background-color: rgba(200,200,200,0.1);
}
.code-head-fullscreen {
  position: fixed;
  top: 10px;
  left: 0;
  height: 34px;
  z-index: 99;
  margin: 0;
  width: 100%;
  background-color: #fff;
}
.code-head-fullscreen .code-lang,
.code-head-fullscreen .code-info {
  margin-top: 10px;
  padding: 10px 5px;
}
pre {
  color: #808080;
}
pre ::selection {
  background-color: #d3d3d3;
}
.comment,
.quote {
  color: #d3d3d3;
  font-style: italic;
}
.doctag,
.formula,
.keyword {
  color: #b4009e;
}
.deletion,
.name,
.section,
.selector-tag,
.subst {
  color: #ea6a74;
}
.literal {
  color: #3a96dd;
}
.addition,
.attribute,
.meta-string,
.regexp,
.string {
  color: #98c379;
}
.built_in,
.class .title {
  color: #e59f27;
}
.attr,
.number,
.selector-attr,
.selector-class,
.selector-pseudo,
.template-variable,
.type,
.variable {
  color: #e59f27;
}
.bullet,
.meta,
.selector-id,
.symbol {
  color: #61aeee;
}
.emphasis {
  font-style: italic;
}
.strong {
  font-weight: 700;
}
.ln {
  margin: 6px 0 0 0 !important;
}
.chinese-font {
  font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
}
.chinese-tranditional-font {
  font-family: Helvetica, Tahoma, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
.english-serif {
  font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', serif;
}
.code-font {
  font-family: 'Source Code Pro', monospace !important;
}
.Ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}
.serif {
  font-family: 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia, serif;
}
.code-block-header {
  user-select: none;
}
.code-block-fullscreen {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  --heightA: 100%;
  --heightB: calc(var(--heightA) - 30px);
  height: var(--heightB);
  min-width: 100%;
  z-index: 98;
  margin: 0;
  animation: elastic 1s;
  overflow: scroll;
  transition: height 1s ease;
}
.code-block-fullscreen-html-scroll {
  overflow: hidden;
}
